.benefits {
    padding-top: 100px;
    padding-bottom: 100px;

    background: #F2F2F2;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }
    &__hi {
        margin-top: 15px;

        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-align: center;

        color: #333333;
    }
    &__low {
        margin-top: 15px;

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #4F4F4F;
    }
}

@media screen and (max-width: 760px) {
    .benefits {
        &__inner {
            grid-template-columns: 287px;
            row-gap: 50px;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 530px) {
    .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
        &__inner {
            grid-template-columns: 100%;
            text-align: center;
        }
    }
}