.burger {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    cursor: pointer;

    transition: all 0.5s;
    height: 18px;
    &__span {
        width: 40px;
        height: 3px;
        background-color: #333;
        
        transition: all 0.5s;
        &_short {
            width: 33px;
        }
    }

    &:hover {
        .burger__span {
            width: 33px;
            &_short {
                width: 40px;
            }
        }
    }
    &.active {
        span {
            &:first-child {
                width: 15px;
                transform-origin: right bottom;
                transform: translateY(8px) rotateZ(40deg);
            }
            &:nth-child(2n) {
                width: 15px;
                transform-origin: right top;
                transform: rotateZ(-40deg);
            }
            &:last-child {
                transform: translateY(-7px);
            }
        }
        &:hover {
            .burger__span {
                width: 15px;
                &_short {
                    width: 28px;
                }
            }
        }
    }
}