body {

    &.dark {
        background: #333;
        .ct_color_FEFEFE {
            color: #FEFEFE;
        }
        .ct_color_F2F2F2 {
            color: #f2f2f2;
        }
        .ct_background_333333 {
            background: #333;
        }
        .ct_background_3C3C3C {
            background: #3c3c3c;
        }
        .ct_background_4F4F4F {
            background: #4f4f4f;
        }

        .ct_span_white {
            span {
                background-color: #fff;
            }
        }

        .swiper {
            &-counter {
                color: #FEFEFE;
                &__total {
                    color: #828282;
                }
            }
            &-pagination-bullet {
                background: rgba(189, 189, 189, 0.57);
                &-active {
                    background: #FEFEFE;
                }
            }
            &-button {
                &-prev, &-next {
                    filter:brightness(5)
                }
            }
        }

        
        .avatar {
            &:before {
                background-color: #333;
            }
        }
    } 
}