.header {
    padding-top: 37px;
    padding-bottom: 34px;
    position: relative;

    &__logo {
        position: absolute;
        top: 50%;
        left: 150px;
        transform: translateY(-50%);

        font-weight: 900;
        font-size: 36px;
        line-height: 42px;

        color: #333333;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            color: #000;
        }

        &_small {
            margin-top: -7px;

            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.08em;
        }
    }
    &__nav {
        max-width: 573px;
        margin: 0 auto;
    }

    &__theme {
        position: absolute;
        top: 50%;
        right: 150px;
        transform: translateY(-50%);

        cursor: pointer;

        &.active {
            .header__theme-ball {
                left: 24px;

                background: #1B1B1B;
                box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
            }
            .header__theme-wrapper {
                background: #4F4F4F;
            }
        }

        &-wrapper {
            width: 54px;
            height: 30px;

            padding: 5px;

            background: #cccaca;
            border-radius: 190px;

            transition: all 0.5s;
        }

        &-ball {
            position: relative;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 100%;

            background: #FFFFFF;
            box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);

            transition: all 0.5s;
        }
    }
    &__burger {
        display: none;
    }
}

@media screen and (max-width: 1040px) {
    .header {
        &__logo {
            left: 30px;
        }
        &__theme {
            right: 30px;
        }
    }
}
@media screen and (max-width: 760px) {
    .header {
        padding-top: 45px;
        padding-bottom: 45px;
        &__burger {
            display: flex;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
        &__theme {
            right: 94px;
        }
        &__nav {
            position: absolute;
            z-index: 999;
            top: 100%;
            left: 100%;

            padding-top: 20px;
            padding-bottom: 20px;

            background-color: #fff;
            border-top: 1px solid #333;

            transition: all 0.5s;

            width: 100%;
            max-width: unset;

            &.active {
                left: 0;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .header {
        &__theme {
            right: 75px;
        }
        &__logo {
            left: 10px;
        }
        &__burger {
            right: 10px;
        }
    }
}