.how {
    padding-top: 100px;
    padding-bottom: 100px;
    &__inner {
        max-width: 790px;
        margin: 0 auto;
    }

    &__text {
        margin-top: 30px;

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #4F4F4F;
    }

    &__slider {
        margin-top: 30px;
        min-height: 405px;
        overflow: hidden;

        .swiper-controls {
            margin-top: 29px;

            text-align: center;

            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .swiper-pagination {
            position: static;

            align-items: center;
            justify-content: center;
            display: flex;
        }

        .swiper-pagination-bullet {
            margin: 0 !important;

            width: 62px;
            height: 5px;
            background: rgba(189, 189, 189, 1);
            border-radius: 0;

            transition: all 0.5s;

            &-active {
                height: 10px;
                background: #333333;
            }
        }
        .swiper-counter {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;

            color: #333333;

            &__total {
                font-size: 14px;
                line-height: 16px;

                color: #BDBDBD;
            }
        }
    }
    &__btn {
        margin: 30px auto 0;
    }
}

@media screen and (max-width: 1350px) {
    .how {
        &__inner {
            max-width: 745px;
        }
    }
}

@media screen and (max-width: 760px) {
    .how {
        padding-bottom: 70px;
    }
}
@media screen and (max-width: 530px) {
    .how {
        padding-top: 50px;
        padding-bottom: 50px;

        &__text {
            margin-top: 20px;

            font-size: 12px;
            line-height: 14px;
        }
        &__slider {
            min-height: 245px;
        }
    }
}