.map {
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F2F2F2;
    .jqvmap-pin {
        pointer-events: all;
    }

    &__text {
        max-width: 790px;
        margin: 20px auto 0;

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        color: #4F4F4F;
    }

    &__slider {
        position: relative;
        min-height: 220px;

        margin-top: 80px;    
        .swiper-map {
            padding: 10px 10px 0;
            width: 1070px;
            margin: 0 auto;
            overflow: hidden;
        }

        .swiper-button {
            &-next, &-prev {
                background-color: transparent;
                border: none;
                top: 65px;
                &:after {
                    display: none
                }
            }
            &-prev {
                left: 0;
            }
            &-next {
                img {
                    transform: rotateZ(180deg);
                }
            }
        }

        .swiper-controls {
            margin-top: 49px;

            text-align: center;

            display: flex;
            flex-direction: column;
            gap: 11px;
        }
        .swiper-pagination {
            position: static;

            align-items: center;
            justify-content: center;
            display: flex;
        }

        .swiper-pagination-bullet {
            margin: 0 !important;

            width: 30px;
            height: 5px;
            background: rgba(189, 189, 189, 1);
            border-radius: 0;

            transition: all 0.5s;

            &-active {
                height: 10px;
                background: #333333;
            }
        }
        .swiper-counter {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;

            color: #333333;

            &__total {
                font-size: 14px;
                line-height: 16px;

                color: #BDBDBD;
            }
        }
    }

    &__map {
        margin-top: 60px;

        height: 500px;
        width: 100%;
    }

    &__pin {
        position: relative;
        width: 53px;
        height: 80px;

        cursor: pointer;

        &-marker {
            transition: all 0.5s;
        }

        &:hover, &.active {
            .map__pin-marker {
                filter:hue-rotate(-160deg)
            }
        }

        &-pet {
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);

            width: 70%;
            height: 48%;

            object-fit: cover;

            border-radius: 100%;
        }

        &_us {
            left: 100%;
        }
        &_gb {
            top: -40px;
        }
        &_cn {
            top: -30px;
        }
        &_cm {
            top: -45px;
        }
        &_do {
            top: -40px;
        }
    }

    &__btn {
        margin: 35px auto 0;
    }

    &__hint {
        position: absolute;
        display: flex;
        gap: 20px;

        padding: 40px;
        max-width: 500px;

        background: #FEFEFE;

        box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
        border-radius: 8px;
        transition: opacity 0.3s;

        &-left {
            width: 65px;
            height: 65px;
            border-radius: 100%;
            overflow: hidden;

            flex-shrink: 0;

            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        &-right {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #4F4F4F;
        }
        &-title {
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;

            color: #333333;
        }
        span {
            font-weight: 900;
        }
    }
}

@media screen and (max-width: 1350px) {
    .map {
        &__map {
            height: 435px;
        }
    
       &__slider {
            .swiper-map {
                width: 736px;
            }
       }
    }
}
@media screen and (max-width: 1040px) {
    .map {
        padding-top: 60px;
        &__map {
            margin-top: 50px;
        }
        &__hint {
            max-width: 50vw;
            padding: 15px;
            align-items: center;
        }
        &__slider {
            margin-top: 35px;
            min-height: 205px;
            .swiper-map {
                width: 646px;
            }
        }
    }
}
@media screen and (max-width:760px) {
    .map {
        &__map {
            margin-top: 40px;
            
            height: 300px;
        }
        &__slider {
            min-height: 180px;
            .swiper-map {
                width: 366px;
            }
            .swiper-button {
                &-next, &-prev {
                    top: 45px;
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .map {
        &__text {
            margin-top: 10px;
            font-size: 12px;
            line-height: 14px;
        }
        &__map {
            margin-top: 30px;
            height: 230px;
        }
        &__pin {
            display: none;
        }
        &__slider {
            margin-top: 30px;
            .swiper-map {
                width: 250px;
            }
            .swiper-button {
                &-next, &-prev {
                    display: none;
                }
            }
        }
    }
}