.pets {
    padding-top: 100px;
    padding-bottom: 100px;

    &__slider {
        margin-top: 35px;

        position: relative;
        min-height: 480px;

        .swiper-pets {
            overflow: hidden;
        }
        .swiper-button-next, .swiper-button-prev {
            position: absolute;
            background-color: transparent;
            border: none;
            outline: none;

            filter:brightness(0);
        }
        .swiper-button-next {
            left: calc(100% + 20px);
            top: 185px;
            right: unset;
        }
        .swiper-button-prev {
            right: calc(100% + 20px);
            left: unset;
            top: 185px;
        }

        .swiper-controls {
            margin-top: 30px;

            text-align: center;

            display: flex;
            flex-direction: column;
            gap: 11px;
        }
        .swiper-pagination {
            position: static;

            align-items: center;
            justify-content: center;
            display: flex;
        }

        .swiper-pagination-bullet {
            margin: 0 !important;

            width: 30px;
            height: 5px;
            background: rgba(189, 189, 189, 1);
            border-radius: 0;

            transition: all 0.5s;

            &-active {
                height: 10px;
                background: #333333;
            }
        }
        .swiper-counter {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;

            color: #333333;

            &__total {
                font-size: 14px;
                line-height: 16px;

                color: #BDBDBD;
            }
        }
        .swiper-slide-active {
            img {
                filter:brightness(0.4)
            }

            .animal-card__content {
                transition: all 1s 0.1s;
                opacity: 1;
            }
        }
    }
    &__btn {
        margin: 30px auto 0;
    }
}

@media screen and (max-width: 1350px) {
    .pets { 
        &__slider {
            min-height: 380px;
        }
    }
}

@media screen and (max-width: 1040px) {
    .pets {
        &__slider {
            .swiper-button-prev, .swiper-button-next {
                transition: all 0.5s;
            }
            .swiper-button-next {
                top: -10%;
                left: calc(100% - 50px);
                &:hover {
                    left: calc(100% - 40px);
                }
            }
            .swiper-button-prev {
                top: -10%;
                right: 60px;
                &:hover {
                    right: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .pets {
        &__btn {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 530px) {
    .pets {
        padding-top: 50px;
        padding-bottom: 50px;

        &__slider {
            .swiper-button-next, .swiper-button-prev {
                transform: scale(0.5) translateX(-50%);
                top: -5%;
            }
            .swiper-button-next {
                left: calc(100% - 30px);
                &:hover {
                    left: calc(100% - 20px);
                }
            }
            .swiper-button-prev {
                left: calc(100% - 60px);
                &:hover {
                    left: calc(100% - 70px);
                }
            }
        }
    }
}