.play-mark {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;

    position: relative;

    transition: all 0.5s;

    &:after {
        position: absolute;
        content: '';

        margin-left: 1.5px;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-left: 9px solid #fff;
        border-top: 4.5px solid transparent;
        border-bottom: 4.5px solid transparent;

        transition: all 0.5s;
    }


    &_green {
        border-color: #49D6DF;
        &:after {
            border-left-color: #49D6DF;
        }
    }
}

@media screen and (max-width: 530px) {
    .play-mark {
        width: 24px;
        height: 24px;

        &:after {
            border-left-width: 8px;
            border-top-width: 4px;
            border-bottom-width: 4px;
        }
    }
}