.testimonial {
    padding-top: 100px;
    padding-bottom: 100px;

    &__slider {
        margin-top: 61px;

        min-height: 410px;
        position: relative;

        .swiper-testimonial {
            overflow: hidden;
        }
        .swiper-button-next, .swiper-button-prev {
            position: absolute;
            background-color: transparent;
            border: none;
            outline: none;

            filter:brightness(0);
        }
        .swiper-button-next {
            left: calc(100% + 7px);
            top: 155px;
            right: unset;
        }
        .swiper-button-prev {
            right: calc(100% + 7px);
            left: unset;
            top: 155px;
        }
        .swiper-controls {
            margin-top: 49px;

            text-align: center;

            display: flex;
            flex-direction: column;
            gap: 11px;
        }
        .swiper-pagination {
            position: static;

            align-items: center;
            justify-content: center;
            display: flex;
        }

        .swiper-pagination-bullet {
            margin: 0 !important;

            width: 30px;
            height: 5px;
            background: rgba(189, 189, 189, 1);
            border-radius: 0;

            transition: all 0.5s;

            &-active {
                height: 10px;
                background: #333333;
            }
        }
        .swiper-counter {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;

            color: #333333;

            &__total {
                font-size: 14px;
                line-height: 16px;

                color: #BDBDBD;
            }
        }
    }

    &__card {
        padding: 45px 70px;

        min-height: 310px;

        background: #FEFEFE;
        box-shadow: 2px 4px 25px rgba(6, 12, 70, 0.2);
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;

        &-img {
            width: 67px;
            height: 67px;

            border: 1px solid #BDBDBD;
            border-radius: 100%;

            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;
            text-align: center;

            color: #333333;
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #4F4F4F;
        }
    }

    &__btn {
        margin: 30px auto 0;
    }
}

@media screen and (max-width: 1040px) {
    .testimonial {
        &__slider {
            .swiper-button-prev, .swiper-button-next {
                transition: all 0.5s;
            }
            .swiper-button-next {
                top: -10%;
                left: calc(100% - 50px);
                &:hover {
                    left: calc(100% - 40px);
                }
            }
            .swiper-button-prev {
                top: -10%;
                right: 60px;
                &:hover {
                    right: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .testimonial {
        padding-top: 50px;
        padding-bottom: 50px;

        &__card {
            padding: 25px 20px;
            min-height: 270px;
        }
        &__slider {
            margin-top: 40px;
            .swiper-controls {
                margin-top: 35px;
            }
            .swiper-button-next, .swiper-button-prev {
                transform: scale(0.5) translateX(-50%);
                top: -5%;
            }
            .swiper-button-next {
                left: calc(100% - 30px);
                &:hover {
                    left: calc(100% - 20px);
                }
            }
            .swiper-button-prev {
                left: calc(100% - 60px);
                &:hover {
                    left: calc(100% - 70px);
                }
            }
        }
    }
}