.zoos {
    padding-top: 60px;
    padding-bottom: 100px;
    position: relative;

    &__content {
        margin-top: 40px;

        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__stream {
        width: 790px;
        flex-shrink: 0;
    }

    &__video {
        width: 790px;
        height: 442px;   
    }

    &__cameras {
        margin-top: 25px;
        padding-bottom: 40px;
        .swiper-pagination {
            bottom: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            &-bullet {
                margin: 0 !important;

                width: 8px;
                height: 8px;
                border-radius: 100%;

                background: #7a7a7a;
                &-active {
                    width: 11px;
                    height: 11px;

                    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
                }
            }
        }
        .swiper-slide {
            cursor: pointer;
            transition: filter 0.5s;

            &:hover {
                filter:brightness(0.7)
            }
        }
    }

    &__info {
        &-block {
            &+& {
                margin-top: 13px;
            }
        }
        &-title {
            font-weight: 900;
            font-size: 20px;
            line-height: 23px;

            color: #333333;
        }
        &-descr {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            color: #4F4F4F;
        }
    }
    &__btn {
        margin-top: 35px;
    }

    &__open {
        position: absolute;
        top: 20px;
        left: 30px;

        padding: 10px;

        display: flex;
        gap: 5px;
        flex-direction: column;

        cursor: pointer;
        transition: all 0.5s;

        span {
            position: relative;

            display: block;
            width: 30px;
            height: 3px;

            background-color: #333;

            transition: all 0.5s;
        }

        &.active {
            gap: 1px;
            span {
                &:first-child {
                    width: 15px;
                    transform: translateY(-1px) rotateZ(-35deg);
                }
                &:last-child {
                    width: 15px;
                    transform: translateY(1px) rotateZ(35deg);
                }
            }
        }
    }

    &__aside {
        position: absolute;
        z-index: 10;
        top: 100px;
        left: -170px;
        height: 482px;
        width: 144px;

        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        border: 1px solid #333;

        transition: all 0.5s;

        &.active {
            left: 30px;
        }

        &-slider {
            padding: 10px 0;
            width: 100%;
            height: 100%;

            .swiper-wrapper {    
                display: flex;
                flex-direction: column;
                align-items: center
            }
        }
        .swiper-button {
            &-next, &-prev {
                background-color: transparent;
                border: none;

                height: auto;

                top: unset;
                right: unset;
                left: unset;
                bottom: unset;
                &:after {
                    display: none;
                }

                filter: brightness(.3)
            }
            &-prev {
                top: -17px;
                left: 50%;
                transform: translateX(-50%);
            }
            &-next {
                bottom: -35px;
                left: 50%;
                transform: translateX(-50%) rotateZ(180deg) ;
            }
        }
    }
}


@media screen and (max-width: 1350px) {
    .zoos {
        &__stream {
            width: 577px;   
        }
        &__video {
            width: 577px;
            height: 327px;
        }
        &__btn {
            width: 185px;
        }
        
        &__aside {
            height: 434px;
        }
    }
}

@media screen and (max-width: 1040px) {
    .zoos {
        &__title {
            text-align: center;
        }
        &__content {
            flex-direction: column;
            align-items:center;
            gap: 50px;
        }
        &__stream {
            width: 497px;   
        }
        &__video {
            width: 497px;
            height: 280px;
        }
        &__info {
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 760px) {
    .zoos {
        padding-top: 45px;
        &__content {
            margin-top: 20px;
        }
        &__stream {
            width: 100%;   
        }
        &__video {
            width: 100%;
            height: 310px;
        }
        &__btn {
            margin-top: 20px;
        }
        &__aside {
            height: 340px;
            width: 100px;

            &.active {
                left: 5px;
            }

            .swiper-button{
                &-next, &-prev {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .zoos {
        padding-top: 30px;
        padding-bottom: 60px;
        &__title {
            font-size: 24px;
            line-height: 28px;
        }
        &__content {
            margin-top: 15px;
            gap: 30px;
        }
        &__cameras {
            margin-top: 0;
            padding-bottom: 30px;
        }
        &__video {
            width: 100%;
            height: 190px;
        }
        &__open {
            left: 0px;
            top: 0;
        }
        &__info {
            &-title {
                font-size: 14px;
                line-height: 16px;
            }
            &-descr {
                font-size: 12px;
                line-height: 14px;
            }
        }
        &__aside {
            top: 70px;
        }
    }
}
