@import 'base/reset';
@import 'base/vars';
@import 'base/mixins';
@import 'base/fonts';

// base settings
body {
    font-family: Roboto, sans-serif;
    overflow-x: clip;
    background: #FBFBFB;
    transition: background 0.5s;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
// end of base settings

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1350px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 530px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/play-mark';
@import 'blocks/btn';
@import 'blocks/promo';
@import 'blocks/socials';
@import 'blocks/animal-card';
@import 'blocks/how';
@import 'blocks/title';
@import 'blocks/benefits';
@import 'blocks/pets';
@import 'blocks/payfeed';
@import 'blocks/testimonial';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/contact-form';
@import 'blocks/burger';
@import 'blocks/changedTheme';
@import 'blocks/modal';

@import 'blocks/zoos';
@import 'blocks/avatar';